@use 'sass:map';
@use '../mdc/node_modules/@material/web/typography/typescale';
@use '../mdc/node_modules/@material/web/tokens/md-comp-elevated-card' as elevated-card;
@use '../mdc/node_modules/@material/web/tokens/md-comp-filled-card' as filled-card;
@use '../mdc/node_modules/@material/web/tokens/md-comp-outlined-card' as outlined-card;
@use '../mdc/node_modules/@material/web/color/color';
@use '../mdc/node_modules/@material/web/tokens';

@use 'yii2-md-top-app-bar.scss';
@use 'yii2-md-elevated-card.scss';
@use 'yii2-md-filled-card.scss';
@use 'yii2-md-outlined-card.scss';

$elevated-card-tokens: elevated-card.values($exclude-custom-properties: true);
$filled-card-tokens: filled-card.values($exclude-custom-properties: true);
$outlined-card-tokens: outlined-card.values($exclude-custom-properties: true);

:root {
    @include color.light-theme;

    @media (prefers-color-scheme: dark) {
        @include color.dark-theme;
    }

    @include typescale.theme(tokens.md-sys-typescale-values());

    @each $token, $value in $elevated-card-tokens {
        --md-elevated-card-#{$token}: #{$value};
    }

    @each $token, $value in $filled-card-tokens {
        --md-filled-card-#{$token}: #{$value};
    }

    @each $token, $value in $outlined-card-tokens {
        --md-outlined-card-#{$token}: #{$value};
    }
}

md-elevated-card {
    // background-color: var(--md-elevated-card-container-color, var(--md-sys-color-surface-container-low, #f7f2fa));
    // border-radius: var(--md-elevated-card-container-shape, var(--md-sys-shape-corner-medium, 12px));
    box-shadow: 0px 1px 3px 0px var(--md-elevated-card-container-shadow-color);
    --md-elevation-level: var(--md-elevated-card-container-elevation);
}

md-filled-card {
    background-color: var(--md-filled-card-container-color, var(--md-sys-color-surface-container-highest, #E6E0E9));
    border-radius: var(--md-filled-card-container-shape, var(--md-sys-shape-corner-medium, 12px));
    --md-elevation-level: var(--md-filled-card-container-elevation);
}

md-outlined-card {
    background-color: var(--md-outlined-card-container-color, var(--md-sys-color-surface, #FEF7FF));
    border-radius: var(--md-outlined-card-container-shape, var(--md-sys-shape-corner-medium, 12px));
    border: var(--md-outlined-card-outline-width, 1px) solid var(--md-outlined-card-outline-color);
    --md-elevation-level: var(--md-outlined-card-container-elevation);
}

@font-face {
    font-family: 'Roboto';
    src:
        url('../fonts/Roboto-Black.ttf'),
        url('../fonts/Roboto-BlackItalic.ttf'),
        url('../fonts/Roboto-Bold.ttf'),
        url('../fonts/Roboto-BlackItalic.ttf'),
        url('../fonts/Roboto-Italic.ttf'),
        url('../fonts/Roboto-Light.ttf'),
        url('../fonts/Roboto-LightItalic.ttf'),
        url('../fonts/Roboto-Medium.ttf'),
        url('../fonts/Roboto-MediumItalic.ttf'),
        url('../fonts/Roboto-Regular.ttf'),
        url('../fonts/Roboto-Thin.ttf'),
        url('../fonts/Roboto-ThinItalic.ttf');
}

@font-face {
    font-family: 'Material Symbols Outlined';
    src: url('../fonts/Material_Symbols_Outlined/MaterialSymbolsOutlined-VariableFont_FILL\,GRAD\,opsz\,wght.ttf');
}

@font-face {
    font-family: 'Material Symbols Rounded';
    src: url('../fonts/Material_Symbols_Rounded/MaterialSymbolsRounded-VariableFont_FILL\,GRAD\,opsz\,wght.ttf');
}

@font-face {
    font-family: 'Material Symbols Sharp';
    src: url('../fonts/Material_Symbols_Sharp/MaterialSymbolsSharp-VariableFont_FILL\,GRAD\,opsz\,wght.ttf');
}

.main-container {
    display: flex;
    /* Convierte el contenedor principal en Flexbox */
    height: 100vh;
    /* Asegura que el contenedor ocupa toda la altura de la pantalla */
}